name: Terraform Plan

on:
  pull_request:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  terraform-plan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::<ACCOUNT_ID>:role/github-actions-terraform-role
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init
        working-directory: infra/app

      - name: Terraform Validate
        run: terraform validate
        working-directory: infra/app

      - name: Terraform Plan
        run: terraform plan
        working-directory: infra/app
